@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-rgb: 252, 252, 252;
	--bg: theme("colors.gray.1");
	--bg-strong: theme("colors.gray.2");
	--bg-xstrong: theme("colors.gray.3");
	--fg: theme("colors.gray.12");
	--fg-light: theme("colors.gray.11");
	--fg-xlight: theme("colors.gray.10");
	--border-2xlight: theme("colors.gray.3");
	--border-xlight: theme("colors.gray.4");
	--border-light: theme("colors.gray.5");
	--border: theme("colors.gray.6");
	--border-strong: theme("colors.gray.8");
}

.dark {
	--bg: theme("colors.grayDark.1");
	--bg-rgb: 17, 17, 17;
	--bg-strong: theme("colors.grayDark.2");
	--bg-xstrong: theme("colors.grayDark.3");
	--fg: theme("colors.grayDark.12");
	--fg-light: theme("colors.grayDark.11");
	--fg-xlight: theme("colors.grayDark.10");
	--border-2xlight: theme("colors.grayDark.3");
	--border-xlight: theme("colors.grayDark.4");
	--border-light: theme("colors.grayDark.5");
	--border: theme("colors.grayDark.6");
	--border-strong: theme("colors.grayDark.8");
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: var(--fg);
	background: var(--bg);
	font-family: var(--font-geist-mono);
}

.GridLayout {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	/* padding: 0.75rem; */
}

@media (min-width: 768px) {
	.GridLayout {
		grid-template-columns: repeat(24, minmax(0, 1fr));
	}
}

/* .GridLayout > * {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	min-width: 0;
} */
