@import "tailwindcss";

@theme {
	--gray-1: #fcfcfc;
	--gray-2: #f9f9f9;
	--gray-3: #f0f0f0;
	--gray-4: #e8e8e8;
	--gray-5: #e0e0e0;
	--gray-6: #d9d9d9;
	--gray-7: #cecece;
	--gray-8: #bbbbbb;
	--gray-9: #8d8d8d;
	--gray-10: #838383;
	--gray-11: #646464;
	--gray-12: #202020;
	--grayDark-1: #111111;
	--grayDark-2: #191919;
	--grayDark-3: #222222;
	--grayDark-4: #2a2a2a;
	--grayDark-5: #313131;
	--grayDark-6: #3a3a3a;
	--grayDark-7: #484848;
	--grayDark-8: #606060;
	--grayDark-9: #6e6e6e;
	--grayDark-10: #7b7b7b;
	--grayDark-11: #b4b4b4;
	--grayDark-12: #eeeeee;
	--sandDark-1: #111110;
	--sandDark-2: #191918;
	--sandDark-3: #222221;
	--sandDark-4: #2a2a28;
	--sandDark-5: #31312e;
	--sandDark-6: #3b3a37;
	--sandDark-7: #494844;
	--sandDark-8: #62605b;
	--sandDark-9: #6f6d66;
	--sandDark-10: #7c7b74;
	--sandDark-11: #b5b3ad;
	--sandDark-12: #eeeeec;
}

:root {
	--bg-rgb: 252, 252, 252;
	--bg: var(--gray-1);
	--bg-strong: var(--gray-2);
	--bg-xstrong: var(--gray-3);
	--fg: var(--grayDark-12);
	--fg-light: var(--grayDark-11);
	--fg-xlight: var(--grayDark-10);
	--border-2xlight: var(--gray-3);
	--border-xlight: var(--gray-4);
	--border-light: var(--gray-5);
	--border: var(--gray-6);
	--border-strong: var(--gray-7);
}

.dark {
	--bg-rgb: 17, 17, 17;
	--bg: #111111;
	--bg-strong: #191919;
	--bg-xstrong: #222222;
	--fg: #eeeeee;
	--fg-light: #b4b4b4;
	--fg-xlight: #7b7b7b;
	--border-2xlight: #222222;
	--border-xlight: #2a2a2a;
	--border-light: #313131;
	--border: #3a3a3a;
	--border-strong: #606060;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: var(--sandDark-11);
	background: var(--sandDark-1);
	font-family: var(--font-fragment-mono), var(--font-geist-mono);
}

.GridLayout {
	display: grid;
	grid-template-columns: repeat(8, minmax(0, 1fr));
	/* padding: 0.75rem; */
}

@media (min-width: 768px) {
	.GridLayout {
		grid-template-columns: repeat(24, minmax(0, 1fr));
	}
}

/* .GridLayout > * {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: subgrid;
	min-width: 0;
} */
